@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@layer base {
	:root {
		color-scheme: dark;
	}

	html, body {
		@apply bg-gray-900 text-white;
	}
}

@theme {
	--font-display: "Oswald", "sans-serif";
}

@layer components {
	/* Custom components can be added here */

	h1 {
		@apply font-display text-4xl font-extrabold mb-4;
	}

	h2 {
		@apply font-display text-2xl font-semibold;
	}

	button {
		@apply font-semibold text-sm 
			flex items-center justify-center
			rounded 
			px-3 py-1
			cursor-pointer
			hover:bg-white/10 
			transition;
	}
}